<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Головна сторінка</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/home.css}">

</head>

<body>
<header th:insert="blocks/header::header"></header>
<body id="home">
<!-- Header -->
<header id="showcase">
    <div class="showcase-content">
        <h1 class="l-heading">
            VAG-Service — сервіс онлайн запису на автосеріс
        </h1>
        <p class="lead">
            Автосервіс для автомобілів концерну VAG
        </p>
            <a href="#appointment" class="btn">
                Записатися
            </a>
    </div>
</header>

<!-- Services -->
<section id="services" class="bg-light py-1 offset">
    <div class="container">
        <h2 class="m-heading text-center">
            <span class="text-primary"> Наші</span> Послуги
        </h2>
        <div class="items">
            <div class="item">
                <a href="#appointment"><img src="logo/diagnostic.jpeg" alt="Фото недоступно"></a>
                <h3>Діагностика</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/engine_repair.jpeg" alt="Фото недоступно"></a>
                <h3>Ремонт двигуна</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/tire_fitting.jpeg" alt="Фото недоступно"></a>
                <h3>Шиномонтаж</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/repair.jpeg" alt="Фото недоступно"></a>
                <h3>Кузовний ремонт</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/chip_tuning.jpeg" alt="Фото недоступно"></a>
                <h3>Чіп-тюнінг</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/repair_mkpp.jpeg" alt="Фото недоступно"></a>
                <h3>Ремонт коробки передач</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="m-heading text-center">
            <span class="text-primary">З якими автомобілями</span> ми працюємо
        </h2>
        <div class="car-brand"><img src="logo/cars.jpg" alt="Фото недоступно"></div>
    </div>
</section>

<!-- About-->
<section id="about" class="offset">
    <div class="who-text bg-dark p-2">
        <h2 class="m-heading"><span class="text-primary">Про</span> нас</h2>
        <p>
               Історія VAG-Service почалася 3 вересня 2007 року.
            Саме в цей день 15 років тому ми відкрили наше перше СТО.
            На разі в нас 3 автосервіса в різних районах Києва, більше ніж 1500 задоволених клієнтів в місяць.
            Необхідне обладнання і інструменти для проведення ремонтних робіт і технічного обслуговування автомобілей.
            Незмінним залишилось одне – наші принципи.
            <p>
                Ми прагнемо кращої якості, самому високому рівню сервісу і постійному розвитку нашого бізнесу.
            Ми пропонуємо повний спектр сервісних послуг власникам транспортних засобів, які знаходятья в Києві та області.</p>
            <p>
                Всі послуги виконуються висококваліфікованими майстрами.
            Наші спеціалисти мають досвід у вирішенні проблем любої складності.
            Незалежно від Вашого авто, будь то легковий автомобіль чи позашляховик, наші механіки прагнуть того, щоб Ваше авто виїхало з нашого сервісу в ідеальному стані.
            VAG-Service – це СТО в Києві, де вирішуть любу проблему з автомобілем. При тому ми використовуємо комплексний підхід.
                І це зручно, оскільки ви можете вирішити всі питання за раз, зекономивши ваший особистий час.</p>

            <p>
                Не менш важливе значення ми приділяємо якості сервісу і надаємо ряд додаткових послуг, щоб нашим клієнтам було комфортно під час очікування закінчення робіт з вашим авто.
            У нас є зручна зона для клієнтів, де вам запропонують чай-каву і нададуть доступ до Wi-Fi.
            Щоб ви могли повністю нам довіряти і точно знали, які работи проводились с вашим авто, у всіх ремонтних боксах встановлені системи відео нагляду.
            Також при вашому бажанні вас допустять до ремонтної зони.</p>
            Ви можете по телефону або на сайті записатися на ТО чи ремонтні роботи, отримати консультацію, вияснити поточний статус робіт по ремонту вашого авто.
            Також у нас ви можете придбати необхідні запчастини, моторні масла, навіть якщо не збираєтесь ремонтувати авто в нашому сервісі.
            Ми приймаємо як готівкові гроші, так і банківські карти. Прозора система розрахунку вартості обслуговування.
        </p>

        <h3 class="m-heading"><span class="text-primary">Наші </span>переваги</h3>
        <ul class="list" >
            <li>Постійним клієнтам даруємо знижку на всі види послуг</li>
            <li>Кваліфіковані майстри і професіонали своєї справи</li>
            <li>Ремонт любої складності здійснюється в короткий термін</li>
            <li>Точна вартість робіт, орієнтація на людей</li>
        </ul>
        <div class="car-brand"><img src="logo/hunters.jpeg" alt="Фото недоступно"></div>
    </div>
</section>

<!-- Appointment -->
<section id="appointment" class="py-1 offset">
    <div class="container">
        <h2 class="m-heading text-center">
            <span class="text-primary">Записатися</span> на діагностику
        </h2>
        <div class="appoint">
            <form>
                <div class="appoint-container">
                <div class="user-appointment">
                    <div class="form-group">
                        <label for="name">Ім'я</label>
                    <input type="text" name="name" id="name" placeholder="Введіть ваше ім'я" required />
                    </div>
                    <div class="form-group">
                        <label for="name">Прізвище</label>
                    <input type="text" name="surname" id="surname" placeholder="Введіть ваше прізвище" required/>
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон</label>
                    <input type="text" name="phone" id="phone" placeholder="Введіть номер телефону" required/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Введіть ваш email" required/>
                    </div>
                </div>

                <div class="car-appointment">
                    <div class="form-group">
                        <label for="name" style="margin-right:50px">Введіть марку автомобіля</label>
                        <input type="text" name="car" id="car" placeholder="Марка авто" required/>
                    </div>
                    <div class="form-group">
                        <label for="name">Виберіть СТО</label>
                        <input type="text" name="station" id="station" placeholder="Виберіть СТО" required/>
                    </div>
                    <div class="form-group">
                        <label for="name">Виберіть дату</label>
                        <input type="date" name="date" id="date" placeholder="Виберіть дату" required/>
                    </div>
                    <div class="form-group">
                        <label for="name">Виберіть час</label>
                        <input type="time" name="time" id="time" placeholder="Виберіть час" required/>
                    </div>
                </div>
                </div>
                    <div class="form-group" style="display:flex; justify-content:space-evenly; width:60%; padding-bottom:2rem;">
                        <label for="name">Назва послуги</label>
                        <textarea name="service" id="service" style="background-color:#d8f5b8" placeholder="Введіть назву послуги, поломки" required></textarea>
                    </div>

                    <input type="submit" value="Записатися" class="btn btn-dark">
            </form>
        </div>
    </div>

</section>

<!-- Contacts -->
<section id="contacts" class="offset">
    <div class="contact bg-primary" style="display:flex; justify-content: center;">
        <div class="contact-form  p-2">
            <h2 class="m-heading">Контакти</h2>
            <p>вул. Миколи Грінченка 18б, Київ, 03039</p>
            <p>new.vag.service@gmail.com</p>
        </div>
        <div class="contact-form  p-2">
            <h2 class="m-heading">Графік</h2>
            <p>Графік работи: <br> ПН-ПТ 09:00 - 20:00<br>СБ 10:00 - 17:00 <br> НД - Вихідний </p>
        </div>
        <div class="contact-form  p-2">
            <h2 class="m-heading">Де ми знаходимось</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.5764905810875!2d30.516788915004827!3d50.41172989803634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf3a3b48909b%3A0x685f61b53a61434f!2sVAG-Service!5e0!3m2!1suk!2sua!4v1645552228814!5m2!1suk!2sua" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>        </div>
    </div>
</section>


</body>
</body>
</html>
</div>

<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>