<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Головна сторінка</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/home.css}">

</head>

<body>
<header th:insert="blocks/header::header"></header>
<body id="home">
<!-- Header -->
<header id="showcase">
    <div class="showcase-content">
        <h1 class="l-heading">
            VAG-Service — сервіс онлайн запису на автосеріс
        </h1>
        <p class="lead">
            Автосервіс для автомобілів концерну VAG
        </p>
            <a href="#appointment" class="btn">
                Записатися
            </a>
    </div>
</header>

<!-- Services -->
<section id="services" class="bg-light py-1 offset">
    <div class="container">
        <h2 class="m-heading text-center">
            <span class="text-primary"> Наші</span> Послуги
        </h2>
        <div class="items">
            <div class="item">
                <a href="#appointment"><img src="logo/diagnostic.jpeg" alt="Фото недоступно"></a>
                <h3>Діагностика</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/engine_repair.jpeg" alt="Фото недоступно"></a>
                <h3>Ремонт двигуна</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/tire_fitting.jpeg" alt="Фото недоступно"></a>
                <h3>Шиномонтаж</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/repair.jpeg" alt="Фото недоступно"></a>
                <h3>Кузовний ремонт</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/chip_tuning.jpeg" alt="Фото недоступно"></a>
                <h3>Чіп-тюнінг</h3>
            </div>
            <div class="item">
                <a href="#appointment"><img src="logo/repair_mkpp.jpeg" alt="Фото недоступно"></a>
                <h3>Ремонт коробки передач</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="m-heading text-center">
            <span class="text-primary">З якими автомобілями</span> ми працюємо
        </h2>
        <div class="car-brand"><img src="logo/cars.jpg" alt="Фото недоступно"></div>
    </div>
</section>

<!-- About-->
<section id="about" class="offset">
    <div class="who-text bg-dark p-2">
        <h2 class="m-heading"><span class="text-primary">Про</span> нас</h2>
        <p>
               Історія VAG-Service почалася 3 вересня 2007 року.
            Саме в цей день 15 років тому ми відкрили наше перше СТО.
            На разі в нас 3 автосервіса в різних районах Києва, більше ніж 1500 задоволених клієнтів в місяць.
            Необхідне обладнання і інструменти для проведення ремонтних робіт і технічного обслуговування автомобілей.
            Незмінним залишилось одне – наші принципи.
            <p>
                Ми прагнемо кращої якості, самому високому рівню сервісу і постійному розвитку нашого бізнесу.
            Ми пропонуємо повний спектр сервісних послуг власникам транспортних засобів, які знаходятья в Києві та області.</p>
            <p>
                Всі послуги виконуються висококваліфікованими майстрами.
            Наші спеціалисти мають досвід у вирішенні проблем любої складності.
            Незалежно від Вашого авто, будь то легковий автомобіль чи позашляховик, наші механіки прагнуть того, щоб Ваше авто виїхало з нашого сервісу в ідеальному стані.
            VAG-Service – це СТО в Києві, де вирішуть любу проблему з автомобілем. При тому ми використовуємо комплексний підхід.
                І це зручно, оскільки ви можете вирішити всі питання за раз, зекономивши ваший особистий час.</p>

            <p>
                Не менш важливе значення ми приділяємо якості сервісу і надаємо ряд додаткових послуг, щоб нашим клієнтам було комфортно під час очікування закінчення робіт з вашим авто.
            У нас є зручна зона для клієнтів, де вам запропонують чай-каву і нададуть доступ до Wi-Fi.
            Щоб ви могли повністю нам довіряти і точно знали, які работи проводились с вашим авто, у всіх ремонтних боксах встановлені системи відео нагляду.
            Також при вашому бажанні вас допустять до ремонтної зони.</p>
            Ви можете по телефону або на сайті записатися на ТО чи ремонтні роботи, отримати консультацію, вияснити поточний статус робіт по ремонту вашого авто.
            Також у нас ви можете придбати необхідні запчастини, моторні масла, навіть якщо не збираєтесь ремонтувати авто в нашому сервісі.
            Ми приймаємо як готівкові гроші, так і банківські карти. Прозора система розрахунку вартості обслуговування.
        </p>

        <h3 class="m-heading"><span class="text-primary">Наші </span>переваги</h3>
        <ul class="list" >
            <li>Постійним клієнтам даруємо знижку на всі види послуг</li>
            <li>Кваліфіковані майстри і професіонали своєї справи</li>
            <li>Ремонт любої складності здійснюється в короткий термін</li>
            <li>Точна вартість робіт, орієнтація на людей</li>
        </ul>
        <div class="car-brand"><img src="logo/hunters.jpeg" alt="Фото недоступно"></div>
    </div>
</section>

<!-- Appointment -->
<section id="appointment" class="py-1 offset">
    <div class="container">
        <h2 class="m-heading text-center">
            <span class="text-primary">Записатися</span> на діагностику
        </h2>
        <div class="items py-1">
            <p>Please use this form to contact us</p>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter Name" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter Email" />
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" id="phone" placeholder="Enter Phone Number" />
                </div>
                <div class="form-group">
                    <label for="name">Mwssage</label>
                    <textarea name="message" id="message" placeholder="Enter Message"></textarea>
                </div>
                <input type="submit" value="Send Message" class="btn btn-dark">
            </form>
        </div>
    </div>
</section>

<!-- Contacts -->
<section id="contacts" class="offset">
    <div class="contact-form bg-primary p-2">
        <h2 class="m-heading">Контакти</h2>


        <p id="graphicraboti">
        <h2 class="m-heading">Графік</h2>
            Графік работи: <br> ПН-ПТ 09:00 - 20:00<br>СБ 10:00 - 17:00 <br> НД - Вихідний </p>



    </div>
    <div id="map"></div>
</section>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtyabG_wkTtJW1vEw7tfcUD2iLMj1Romk&callback=initMap"  async defer></script>
</body>

</html>





</div>

<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>