<div th:fragment="header">
    <header>
        <div>
            <!-- Navbar -->
            <nav id="navbar">
                <h1 class="logo">
        <span class="text-primary"> <i class="fas fa-book-open"></i>VAG </span
        >Service
                </h1>
                <ul>
                    <li><a href="/">Головна</a></li>
                    <li><a href="#services">Послуги</a></li>
                    <li><a href="#about">Про нас</a></li>
                    <li><a href="#contacts">Контакти</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>